[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the World Wide Web
Exec=/usr/bin/firefox-esr %u
Icon=firefox-esr
Terminal=false
StartupWMClass=firefox-esr