[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Use the command line
Exec=/usr/bin/xterm
Icon=utilities-terminal
Terminal=false
StartupWMClass=xterm